.books {
  background-color: @white;
  width: 75%;

  .flexbox(row, space-evenly, flex-start);
  flex-wrap: wrap;

  @media @tablet {
    .flexbox(column, flex-start, center);
  }

  @media @mobile {
    width: 100%;
  }
}

.book {
  display: none;
  background-color: @sky-blue;
  width: 45%;
  padding: 1rem;
  margin: 0.5rem;

  @media @tablet {
    width: 90%;
  }

  @media @mobile {
    width: 90%;
  }


  .title, .author{
    font-size: 1.5rem;
    padding: 0.2rem;
    text-align: center;
  }

  .title {
    font-family: 'Handlee', cursive;
  }

  .author {
    font-size: 1.2rem;
    font-family: 'Philosopher', sans-serif;

  }

  .sypnosis {
    margin-top: 1rem;
    text-align: justify;
    font-family: 'Gentium Basic', serif;

    @media @tablet {
      font-size: 1.2rem;
    }
  }
}

.book-show {
  display: inline;
}