header {
  .flexbox(row, normal, normal);

  span {
    background-color: lightyellow;
    width: 20%;
  }
}

nav {
  background-color: lightgreen;
  width: 80%;
  padding: 1rem;

  .flexbox(row, space-around, normal);

  a {
    font-size: 3rem;
    
    &:hover {
      background-color: purple;
      color: lightgreen;
    }

  }
}
