header {
  .flexbox(row, normal, normal);

  @media @tablet {
    .flexbox(column-reverse, normal, normal);
  }

  div {
    background-color: lightyellow;
    width: 20%;
    font-size: 4rem;
    text-align: center;
    font-family: 'Indie Flower', cursive;

    @media @tablet {
      width: 100%;
    }
  }
}

nav {
  background-color: lightgreen;
  width: 80%;
  padding: 1rem;
  font-family: 'Dancing Script', cursive;


  .flexbox(row, space-around, normal);

  @media @tablet {
    width: 100%;
  }

  @media @mobile {
    .flexbox(column, normal, center);
    width: 100%;
  }

  a {
    font-size: 3rem;

    @media @mobile {
      padding: 0.5rem;
      // width: 100%;
      // border: solid 1px black;
    }
    
    &:hover {
      background-color: purple;
      color: lightgreen;
    }

  }
}
