.main {
  display: flex;
}

.tabs {
  background-color: lightcoral;
  width: 25%;
  font-size: 2rem;
}

.tab-link {
  background-color: lightpink;
  padding: 1rem;
  margin: 0.5rem;

  &:hover {
    background-color: white;
    color: blue;
  }
}

.tab-selected {
  background-color: blue;
  color: white;

  &:hover {
    background-color: blue;
    color: white;
  }
}