.main {
  .flexbox(row, normal, normal);

  @media @mobile {
    .flexbox(column, normal, center);
  }
}

.tabs {
  background-color: @burning-orange;
  width: 25%;
  font-size: 1.5rem;
  font-family: 'Istok Web', sans-serif;

  @media @mobile {
    .flexbox(row, center, normal);
    flex-wrap: wrap;
    width: 100%;
    font-size: 2rem;

  }
}

.tab-link {
  background-color: @sun-orange;
  padding: 1rem;
  margin: 0.5rem;

  // @media @mobile {
  //   padding: 0rem;
  //   margin: 0rem;
  // }

  &:hover {
    background-color: @white;
    color: @night-blue;
  }
}

.tab-selected {
  background-color: @suit-up-blue;
  color: @white;

  &:hover {
    background-color: @suit-up-blue;
    color: @white;
  }
}
