// Color assignments 

// Colors
@night-blue: #01193f;
@suit-up-blue: #062e72;
@sky-blue: #b7d3ff;
@white-blue: #ddeaff;

@orange: #ea8c09;
@burning-orange: #ff9319;
@sun-orange: #ffeb9b;

@black: #000e23;
@white: #f4f8ff;

// Font Sizes
@giant: 4rem;
@extraLarge: 3rem;
@large: 2rem;
@mediumLarge: 1.5rem;
@mediumPlus: 1.2rem;
@medium: 1rem;
@small: 0.5rem;
@extraSmall: 0.2rem;

// // Borders
// @main-border: @extraSmall dashed @black;

// Breakpoints
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";